> 1% in DE
Edge > 16
last 5 Safari versions
last 5 iOS versions
last 5 Chrome versions
last 5 ChromeAndroid versions
last 3 Opera versions
last 5 Firefox versions
last 5 FirefoxAndroid versions
last 3 Samsung versions
