{
	"plugins": ["prettier", "@typescript-eslint/eslint-plugin", "react"],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
		"plugin:react-hooks/recommended",
		"plugin:prettier/recommended"
	],
	"rules": {
		"indent": "off",
		"@typescript-eslint/indent": "off",
		"@typescript-eslint/explicit-function-return-type": "off",
		"@typescript-eslint/explicit-member-accessibility": "off",
		"@typescript-eslint/explicit-module-boundary-types": "off",
		"react/react-in-jsx-scope": "off",
		"@typescript-eslint/consistent-type-imports": [
			"error",
			{ "prefer": "type-imports" }
		],
		"no-console": "warn"
	},
	"env": {
		"es6": true,
		"browser": true,
		"node": true
	},
	"parser": "@typescript-eslint/parser",
	"settings": {
		"react": {
			"version": "17.0"
		}
	}
}
