$black: hsl(0, 0%, 8%);
$white: hsl(0, 0%, 100%);
$dimmedBlack: hsl(0, 0%, 40%);
$dimmedWhite: hsl(0, 0%, 70%);
$darkGray: hsl(0, 0%, 20%);
$lightGray: hsl(0, 0%, 90%);
$translucentGray: hsla(0, 0%, 0%, 0.3);
$accent: hsl(318, 100%, 66%);
$accentLight: hsl(318, 98%, 39%);
$linkColDark: $accent;
$activeLinkColDark: hsl(318, 100%, 80%);
$linkColLight: $accentLight;
$activeLinkColLight: hsl(318, 98%, 24%);

@mixin darkTheme {
	--bgCol: #{$black};
	--fontCol: #{$white};
	--dimmedFontCol: #{$dimmedWhite};
	--accentCol: #{$accent};
	--separatorCol: #{$darkGray};
	--shadowCol: #{$translucentGray};
	--linkCol: #{$linkColDark};
	--activeLinkCol: #{$activeLinkColDark};
}
@mixin lightTheme {
	--bgCol: #{$white};
	--fontCol: #{$black};
	--dimmedFontCol: #{$dimmedBlack};
	--accentCol: #{$accentLight};
	--separatorCol: #{$lightGray};
	--shadowCol: #{$translucentGray};
	--linkCol: #{$linkColLight};
	--activeLinkCol: #{$activeLinkColLight};
}

:root {
	@include darkTheme;

	--borderRadius: 0;
	--borderWidth: 0.15rem;
	--bannerFontSize: var(--fontSize2);
	--bannerHeight: calc(var(--fontSize2) * 1.7);
	--lineHeight: 1.63;
	--sideSpacing: 0.5rem;
	--innerSpacing: 0.5rem;
	@media screen and (min-width: 20em) {
		--innerSpacing: 1rem;
		--sideSpacing: 1rem;
	}
	@media screen and (min-width: 80em) {
		--sideSpacing: 4rem;
	}
}
:root[data-color-scheme="dark"] {
	@include darkTheme;
}

@media (prefers-color-scheme: light) {
	:root {
		@include lightTheme;
	}
}
:root[data-color-scheme="light"] {
	@include lightTheme;
}
