@function colorTransition($duration, $easing) {
	@return color $duration $easing, background-color $duration $easing,
		border-color $duration $easing;
}

$defaultTransition: colorTransition(300ms, ease-in-out);

@mixin whenBlocked {
	[data-prevent-color-transitions="true"] & {
		@content;
	}
}

@mixin add($transition) {
	transition: $defaultTransition, $transition;

	@include whenBlocked {
		transition: $transition;
	}
}

@mixin set($transition) {
	transition: $transition;

	@include whenBlocked {
		transition: $transition;
	}
}
