@use "./fluid.scss";
@use "./font.scss";

$rootSize: 18px;

@font-face {
	font-family: "InterVar";
	font-weight: 100 900;
	font-style: oblique 0deg 10deg;
	font-display: swap;
	src: url("/src/fonts/subset/inter-var_3-18.subset.woff2") format("woff2");
}

:root {
	font-size: $rootSize;
}

* {
	// Fallback to Arial, etc. if var fonts are not supported
	$fallbackFonts: "Roboto", Arial, Helvetica, sans-serif;
	font-family: "InterVar", $fallbackFonts;
	font-feature-settings: "ss01" 1, "ss03" 1;
	font-variation-settings: "wght" var(--fontWeight), "slnt" var(--fontSlant);
	@include font.weight(300);
	@include font.style(normal);
	font-kerning: auto;
	font-synthesis: none;
	text-decoration-skip-ink: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1;
	--letterSpacingAdjust: 0rem;
	--wordSpacingAdjust: 0rem;
	--letterSpacing: 0rem;
	--wordSpacing: 0rem;
	letter-spacing: calc(var(--letterSpacing) + var(--letterSpacingAdjust));
	word-spacing: calc(var(--wordSpacing) + var(--wordSpacingAdjust));

	@include font.doesNotSupportVarFonts {
		// This works well for Arial, Helvetica and Roboto, which are common
		// fallback fonts
		--letterSpacingAdjust: 0.0306rem;
	}
}

body {
	@include fluid.fontSize;
}

p,
a,
summary {
	line-height: var(--lineHeight);
}

a {
	text-decoration: none;

	&,
	&:visited {
		color: var(--linkCol);
	}

	&:active,
	&:hover,
	&:focus-visible {
		color: var(--activeLinkCol);
	}
}

figcaption {
	line-height: var(--lineHeight);
	text-align: center;
	color: var(--dimmedFontCol);
	font-size: 0.9rem;
	@include font.style(oblique);
}

:root {
	@include fluid.fontSize(-1, $property: --fontSizeNeg1);
	@include fluid.fontSize(0, $property: --fontSize0);
	@include fluid.fontSize(1, $property: --fontSize1);
	@include fluid.fontSize(2, $property: --fontSize2);
	@include fluid.fontSize(3, $property: --fontSize3);
	@include fluid.fontSize(4, $property: --fontSize4);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@include font.fallbackWeight(250, 300);
	@include font.style(oblique);
	margin: 0;
	padding: 0.5em 0;
	text-transform: uppercase;
}
h1 {
	font-size: var(--fontSize4);
	font-size: 2rem;
}
h2 {
	font-size: var(--fontSize3);
}
h3 {
	font-size: var(--fontSize2);
}
h4 {
	font-size: var(--fontSize1);
}
h5 {
	font-size: var(--fontSize0);
}
h6 {
	font-size: var(--fontSizeNeg1);
}
