:global body {
	overflow: hidden;
}

.pageWrapper {
	width: 100%;
	height: 100vh;
	position: relative;
	background: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.canvasWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.frameRate {
	font-family: monospace;
	position: absolute;
	inset: 0;
	display: none;
	place-content: center;
	font-size: 12em;
	color: white;
}
