@use "./styles/reset.scss";

$accent: rgb(160, 30, 100);

body {
	min-height: 100vh;
}

@mixin focusStyles {
	outline: 0.2rem solid $accent;
	outline-offset: 0.2rem;
}
@mixin focusReset {
	outline: none;
}

:focus {
	@include focusStyles;
}

:focus:not(:focus-visible) {
	@include focusReset;
}

:focus-visible {
	@include focusStyles;
}
