@use "./styles/reset.scss";
@use "./styles/theme.scss";
@use "./styles/typography.scss";
// @use "./styles/transitions.scss";

body {
	color: var(--fontCol);
	// background-color: var(--bgCol);
	min-height: 100vh;
}

// *,
// *::before,
// *::after {
// 	transition: transitions.$defaultTransition;

// 	@include transitions.whenBlocked {
// 		transition: none;
// 	}
// }

@mixin focusStyles {
	outline: 0.2rem solid var(--accentCol);
	outline-offset: 0.2rem;
}
@mixin focusReset {
	outline: none;
}

:focus {
	@include focusStyles;
}

:focus:not(:focus-visible) {
	@include focusReset;
}

:focus-visible {
	@include focusStyles;
}
